<div class="card">
    <div class="button-container">
        <button mat-mini-fab color="primary" class="moreButton" (click)="displayLists()">
            <mat-icon mat-button [matMenuTriggerFor]="menu">more_vert</mat-icon>
            <mat-menu #menu="matMenu">
                <p style="color: #fff; text-align: center;">Agregar a la lista</p>
                <button mat-menu-item *ngFor="let listItem of uLists" (click)="addToList(listItem?.UUID, movie?.UUID)">{{listItem?.name}}</button>
                <mat-divider></mat-divider>
                <button mat-menu-item class="addList" routerLink="/lists">Crear lista</button>
            </mat-menu>
        </button>
    </div>
    <div class="link" routerLink="/movie/{{movie?.cuevanaUUID}}">
        <img class="card-img-top" src="{{movie?.poster}}" alt="Card image">
        <div class="card-body">
            <h3 class="title"><b>{{movie?.title}}</b></h3>
            <div class="cardInfo">
                <div class="duo">
                    <p class="duration">{{movie?.duration}}</p>
                    <div class="rating">
                        <p class="wmargin">{{movie?.rating}}</p><mat-icon>star</mat-icon>
                    </div>
                </div>
                <p class="year">{{movie?.year}}</p>
            </div>
        </div>
    </div>
</div>
