<div class="card" routerLink="/movie/{{movie?.cuevanaUUID}}">
    <img class="card-img-top" src="{{movie?.poster}}" alt="Card image">
    <div class="card-body">
        <h3 class="title"><b>{{movie?.title}}</b></h3>
        <div class="cardInfo">
            <div class="duo">
                <p class="duration">{{movie?.duration}}</p>
                <div class="rating">
                    <p class="wmargin">{{movie?.rating}}</p><mat-icon>star</mat-icon>
                </div>
            </div>
            <p class="year">{{movie?.year}}</p>
        </div>
    </div>
</div>
