<app-global-theme>
    <app-nav-bar></app-nav-bar>
    <app-carousel-basic></app-carousel-basic>
    <app-genre-component>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </app-genre-component>
    <app-genre-component>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </app-genre-component>
    <app-footer></app-footer>
</app-global-theme>
