<div class="toolbar" role="banner">
  <div class="primary-navigation" routerLink="/home">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span>Jammer</span>
  </div>
  <div class="spacer"></div>
  <div class="secondary-navigation">
    <input
      type="text"
      placeholder="Search movie"
      aria-label="Search"
      aria-describedby="basic-addon2"
      class="search-input"
    >
    <button mat-raised-button color="primary">Search</button>
    <button mat-button [matMenuTriggerFor]="menu">Login</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Jaime</button>
        <button mat-menu-item>Anmol</button>
        <button mat-menu-item>Rodri</button>
        <mat-divider></mat-divider>
        <button mat-menu-item>Miriam</button>
        <button type="button" class="btn btn-success">Success</button>
      </mat-menu>
  </div>
</div>
