div {
    height: 100%;
    width:100%;
    
    app-global-theme {
        .pnf {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                background: url("200.gif");
                opacity: 0.4;
                width: 100%;
            }

            .text404 {
                height: auto;
                position: absolute;
                top: 60%;
                text-align: center;
                color: #fff;

                h1 {
                    font-size: 7em;
                    font-family: 'Roboto', sans-serif;
                }
                h2 {
                    font-size: 5em;
    
                    h3 {
                        font-size: 0.5em;
                    }
                }
    
            }
        }
    }
}
