<div class="movieInfoContent">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Deja un comentario</mat-label>
            <textarea
                id="comment"
                matInput
                placeholder="Ex. Esta pelicula me hace sentir..."
            ></textarea>
        </mat-form-field>
        <button mat-icon-button (click)="saveComment('detail')">
            <mat-icon>check_circle_outline</mat-icon>
        </button>
    </form>
</div>
