<div>
    <app-global-theme>
        <app-nav-bar (clicked)="onClickedAlert()"></app-nav-bar>
        <app-carousel-basic></app-carousel-basic>
        <app-genre-component>
            <app-card *ngFor="let movie of actionMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of animationMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of adventureMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of warMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of biographyMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of sciFiMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of comedyMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of crimeMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of documentalMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of dramaMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of familyMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of fantasyMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of misteryMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of musicalMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of romanceMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of actionMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of animationMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of adventureMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of warMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of biographyMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of sciFiMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of comedyMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of crimeMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of documentalMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of dramaMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of familyMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of fantasyMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of misteryMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of musicalMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of romanceMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of terrorMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-genre-component>
            <app-card *ngFor="let movie of thrillerMovies" [movie]="movie"></app-card>
        </app-genre-component>
        <app-footer></app-footer>
    </app-global-theme>
</div>
