<div>
  <app-global-theme>
    <app-nav-bar></app-nav-bar>
    <div *ngIf="listItem.length == 0">
      <h2>
        No has agregado ninguna película a la lista.
      </h2>
    </div>
    <div *ngIf="listItem.length > 0">
      <div class="movieInfo" *ngFor="let movie of listItem">
        <app-card [movie]="movie"></app-card>
        <div class="right">
          <div *ngFor="let com of commentItems">
            <p>ASD</p>
          </div>
          <app-comment></app-comment>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </app-global-theme>
</div>
