<!--Important link from source https://bootsnipp.com/snippets/rlXdE-->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left links">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Jammer</h5>
					<ul class="list-unstyled quick-links description">
						<h2>
							<img width="30" alt="Jammer Logo" src="https://cdn-icons-png.flaticon.com/512/3600/3600926.png" />
							Jammer
						</h2>
						<p>Somos una pequeña asociación la cual se enfoca en pequeños proyectos los cuales benefician principalmente a alumnos.</p>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Páginas</h5>
					<br>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Mis listas</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>subscripción</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>404</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p class="h6">All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Jammer</a></p>
				</div>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->