<div>
    <app-global-theme>
        <app-nav-bar></app-nav-bar>
        <div class="movieInfo">
            <img src="{{movies[0]?.poster}}" alt="Movie image">
            <div class="movieInfoContent">
                <h1 class="title"><b>{{movies[0]?.title}}</b></h1>
                <div class="cardInfo">
                    <h2>{{movies[0]?.sypnosis}}</h2>
                    <div class="duo">
                        <p class="duration">{{movies[0]?.duration}}</p><br>
                        <div class="rating">
                            <p class="wmargin">{{movies[0]?.rating}}</p><mat-icon>star</mat-icon>
                        </div>
                    </div>
                    <p class="year">{{movies[0]?.year}}</p>
                </div>
            </div>
        </div>
        <div class="film">{{"Film"}}</div>
        <app-footer></app-footer>
    </app-global-theme>
</div>
