<div>
  <app-global-theme>
    <app-nav-bar></app-nav-bar>
    <div class="button-container">
      <input type="text" placeholder="Nombre de la lista" aria-label="list" aria-describedby="basic-addon2" class="listNameInput">
      <button mat-mini-fab color="primary" class="addButton">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="myLists">
      <h1>Mis listas</h1>
      <div class="allLists">
        <app-list-card></app-list-card> <!--ngIf-->
        <app-list-card></app-list-card> <!--ngIf-->
      </div>
    </div>
    <div class="sharedLists">
      <h1>Listas compartidas</h1>
      <div class="allLists">
        <app-list-card></app-list-card> <!--ngIf-->
        <app-list-card></app-list-card> <!--ngIf-->
      </div>
    </div>
    <app-footer></app-footer>
  </app-global-theme>
</div>
