<div class="card">
    <div class="buttonOnList delete">
        <button mat-fab>
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    <div class="buttonOnList edit">
        <button mat-fab>
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <div class="buttonOnList share">
        <button mat-fab>
            <mat-icon>share</mat-icon>
        </button>
    </div>
    <div class="card-body" routerLink="/list">
        <h3 class="title"><b>{{"Favoritas"}}</b></h3>
    </div>
</div>
