.hasSubscription {
    // text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: calc(100vh - 400px);

    .cancelSub {
        height: 35px;
        background-color: #B62519;
        margin-right: 10px;
    }
}